<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Slippy Snake Controller</title>
</head>
<body>
    <main class="container">
        <h1>Welcome to the Slippy Snake controller!</h1>
        <div>
            <div class="video-container">
                <video class="camera-stream" controls>
                    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
                </video>
            </div>
            <div class="directions-container">
                <div id="directions-list">
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="static/js/index.js"></script>
</body>
</html>